https://www.kaggle.com/adityaadamf/dummy-data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
data = pd.read_csv('drive/My Drive/SELF_LEARNING_MATERIALS/Shopee Code Challenge 2020/order_brush_order.csv')

In [ ]:
# type(data['datetime'][0])
from datetime import timedelta
if data['datetime'][0]-data['datetime'][2] < timedelta(hours=1) :
    print("yues")

In [ ]:
!pip install -U -q kaggle
!mkdir -p ~/.kaggle

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!cp kaggle.json ~/.kaggle/
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                             title                                                size  lastUpdated          downloadCount
--------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge               COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-06-10 00:09:23          71785
roche-data-science-coalition/uncover                            UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          10483
kwullum/fatal-police-shootings-in-the-us                        Fatal Police Shootings in the US                      1MB  2017-09-22 19:18:21          12617
Cornell-University/arxiv                                        ArXiv Metadata                                        2GB  2020-05-06 23:18:35              2
thoolihan/los-angeles-1992-riot-deaths-from-la-times            Los Angeles 1992 Riot Deaths from LA Times           16KB  2020-06-03 21:09:07              0
yash612/stockmarket-sentiment-dataset                           Stock-Market Sentiment Dataset                      201KB  2020-06-05 19:16:19              0
andrewmvd/global-education-statistics                           Global Education Statistics                          38MB  2020-06-06 04:35:48              0
sudalairajkumar/daily-temperature-of-major-cities               Daily Temperature of Major Cities                    13MB  2020-06-05 07:34:48              0
cprete/covid19-open-datasets-for-brazil                         COVID-19 Open Datasets for Brazil                   139MB  2020-06-07 15:36:31              0
longnguyen2306/bacteria-detection-with-darkfield-microscopy     Bacteria detection with darkfield microscopy        162MB  2020-06-08 10:31:54              0
mohitkr05/global-significant-earthquake-database-from-2150bc    Global Significant Earthquake Database from 2150BC  216KB  2020-06-08 09:41:18              0
batjoker/zomato-restaurants-hyderabad                           Zomato Restaurants Hyderabad                          1MB  2020-06-08 15:11:39              0
imdevskp/hiv-aids-dataset                                       HIV AIDS Dataset                                     37KB  2020-06-11 12:59:45              0
jpmiller/police-violence-in-the-us                              US Police Violence & Fatal Shootings                 13MB  2020-06-13 04:52:18              0
paultimothymooney/minneapolis-police-stops-and-police-violence  Minneapolis Police Stops and Police Violence          8MB  2020-06-11 20:47:15              0
benroshan/factors-affecting-campus-placement                    Campus Recruitment                                    5KB  2020-04-11 11:09:02           5523
bobbyscience/league-of-legends-diamond-ranked-games-10-min      League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           2542
fireballbyedimyrnmom/us-counties-covid-19-dataset               US counties COVID 19 dataset                          2MB  2020-06-12 11:58:01           7247
divyansh22/flight-delay-prediction                              January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           1850
clmentbisaillon/fake-and-real-news-dataset                      Fake and real news dataset                           41MB  2020-03-26 18:51:15           4998

In [ ]:
# !kaggle competitions download -c house-prices-advanced-regression-techniques
!kaggle competitions download -c order-brushing-shopee-code-league
!ls

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading order_brush_order.csv.zip to /content
  0% 0.00/4.41M [00:00<?, ?B/s]
100% 4.41M/4.41M [00:00<00:00, 146MB/s]
 drive		    kaggle.json		        Solution.csv
 Dummy%20data.csv   order_brush_order.csv.zip   submission.csv
'kaggle (1).json'   sample_data

In [ ]:
# import specific libraries
# load CSVs
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:

data = pd.read_csv('order_brush_order.csv.zip')

In [ ]:
data['datetime'] =  pd.to_datetime(data['event_time'])#, format='%Y%m%d:%H:%M:%S.%f')

In [ ]:
removed = data[data.groupby('shopid').shopid.transform(len) > 2]
removed

               orderid     shopid  ...           event_time            datetime
0       31076582227611   93950878  ...  2019-12-27 00:23:03 2019-12-27 00:23:03
1       31118059853484  156423439  ...  2019-12-27 11:54:20 2019-12-27 11:54:20
2       31123355095755  173699291  ...  2019-12-27 13:22:35 2019-12-27 13:22:35
3       31122059872723   63674025  ...  2019-12-27 13:01:00 2019-12-27 13:01:00
4       31117075665123  127249066  ...  2019-12-27 11:37:55 2019-12-27 11:37:55
...                ...        ...  ...                  ...                 ...
222745  31245479170194  110868129  ...  2019-12-28 23:17:59 2019-12-28 23:17:59
222746  31230440360374   91639906  ...  2019-12-28 19:07:20 2019-12-28 19:07:20
222747  31191471145838   29391773  ...  2019-12-28 08:17:52 2019-12-28 08:17:52
222748  31198471732255   61556313  ...  2019-12-28 10:14:31 2019-12-28 10:14:31
222749  31164356713822  147941492  ...  2019-12-28 00:45:56 2019-12-28 00:45:56

[210357 rows x 5 columns]

In [ ]:
unique_shops = list(data.shopid.unique())
unique_shops

In [ ]:
sort = removed.sort_values(['shopid','userid'])#.sort_values('userid')

# byhr = sort.groupby(sort['datetime'].map(lambda x: x.hour))
sort.head(30)

               orderid  shopid  ...           event_time            datetime
145426  31431527100615   10061  ...  2019-12-31 02:58:48 2019-12-31 02:58:48
200439  31412115824794   10061  ...  2019-12-30 21:35:15 2019-12-30 21:35:15
188513  31195675919209   10061  ...  2019-12-28 09:27:55 2019-12-28 09:27:55
174620  31205132327893   10061  ...  2019-12-28 12:05:32 2019-12-28 12:05:32
220277  31223869819570   10084  ...  2019-12-28 17:17:50 2019-12-28 17:17:50
196894  31302540656121   10084  ...  2019-12-29 15:09:01 2019-12-29 15:09:01
167859  31075686185309   10084  ...  2019-12-27 00:08:06 2019-12-27 00:08:06
17765   31265542731780   10084  ...  2019-12-29 04:52:23 2019-12-29 04:52:23
34650   31123641739732   10084  ...  2019-12-27 13:27:21 2019-12-27 13:27:21
111066  31245274318631   10084  ...  2019-12-28 23:14:34 2019-12-28 23:14:34
219313  31108766989338   10084  ...  2019-12-27 09:19:26 2019-12-27 09:19:26
198167  31152118785559   10084  ...  2019-12-27 21:21:58 2019-12-27 21:21:58
178051  31077155357404   10084  ...  2019-12-27 00:32:36 2019-12-27 00:32:36
44149   31202166748395   10084  ...  2019-12-28 11:16:06 2019-12-28 11:16:06
69350   31479836182588   10084  ...  2019-12-31 16:23:57 2019-12-31 16:23:57
44769   31197005306352   10084  ...  2019-12-28 09:50:06 2019-12-28 09:50:06
61126   31162488073822   10084  ...  2019-12-28 00:14:48 2019-12-28 00:14:48
146018  31396593348413   10084  ...  2019-12-30 17:16:33 2019-12-30 17:16:33
177840  31202205261439   10084  ...  2019-12-28 11:16:46 2019-12-28 11:16:46
174152  31418922063977   10084  ...  2019-12-30 23:28:42 2019-12-30 23:28:42
28314   31381620072348   10084  ...  2019-12-30 13:07:00 2019-12-30 13:07:00
91837   31079024994425   10084  ...  2019-12-27 01:03:44 2019-12-27 01:03:44
209553  31334062758375   10084  ...  2019-12-29 23:54:23 2019-12-29 23:54:23
66844   31243902819871   10084  ...  2019-12-28 22:51:43 2019-12-28 22:51:43
114226  31459395207210   10084  ...  2019-12-31 10:43:15 2019-12-31 10:43:15
79129   31378248750240   10084  ...  2019-12-30 12:10:48 2019-12-30 12:10:48
20401   31079688206563   10084  ...  2019-12-27 01:14:49 2019-12-27 01:14:49
106649  31211491022295   10084  ...  2019-12-28 13:51:31 2019-12-28 13:51:31
111084  31220968762880   10084  ...  2019-12-28 16:29:28 2019-12-28 16:29:28
199320  31103178638264   10084  ...  2019-12-27 07:46:18 2019-12-27 07:46:18

[30 rows x 5 columns]

In [ ]:
def most(id):
    test = sort.loc[sort['shopid'] == id]
    test.sort_values('datetime')
    test.index = list(range(len(test)))
    num = int(len(test) - test.groupby('shopid')['userid'].nunique())
    if num > 1:
        return id
most(10084)

In [ ]:
for_test=[]
for i in list(sort.shopid.unique()):
    for_test.append(most(i))

In [ ]:
for_test = [x for x in for_test if x is not None]

In [ ]:
len(for_test)

1792

In [ ]:
latest = sort[sort['shopid'].isin(for_test)]
latest

               orderid     shopid  ...           event_time            datetime
1361    31219662667629      10100  ...  2019-12-28 16:07:42 2019-12-28 16:07:42
213258  31387031289396      10100  ...  2019-12-30 14:37:12 2019-12-30 14:37:12
208885  31330566985700      10100  ...  2019-12-29 22:56:06 2019-12-29 22:56:06
71930   31222949507658      10100  ...  2019-12-28 17:02:29 2019-12-28 17:02:29
62548   31156457456665      10100  ...  2019-12-27 22:34:18 2019-12-27 22:34:18
...                ...        ...  ...                  ...                 ...
135676  31080726584115  213141071  ...  2019-12-27 01:32:07 2019-12-27 01:32:07
108246  31468414075366  214432425  ...  2019-12-31 13:13:34 2019-12-31 13:13:34
133194  31505523761333  214432425  ...  2019-12-31 23:32:03 2019-12-31 23:32:03
4590    31506394434087  214432425  ...  2019-12-31 23:46:35 2019-12-31 23:46:35
83893   31506349293329  214432425  ...  2019-12-31 23:45:49 2019-12-31 23:45:49

[127408 rows x 5 columns]

In [ ]:
from datetime import timedelta
import more_itertools as mit
def fraud(id):
    ind=[]
    shops = []
    users = []
    tryy = latest[latest['shopid'] == id]
    tryy.sort_values(by='datetime')
    tryy.index = list(range(len(tryy)))
    same=[]
    for i in range(len(tryy)):
        try:
            if tryy['datetime'][i]-tryy['datetime'][i-1] < timedelta(hours=1) and tryy['datetime'][i]-tryy['datetime'][i-1] > timedelta(seconds=0):
                same.append(i-1)
                same.append(i)
        except:
            continue
    same = list( dict.fromkeys(same) )
    final=[list(group) for group in mit.consecutive_groups(same)]
    for i in final:
        if len(i)>=3:
            ind.append(i)
    finall = [item for items in ind for item in items]
    finall = list( dict.fromkeys(finall) )
    for y in finall:
        users.append(str(tryy['userid'][y]))
        return  id, '&'.join(users)
fraud(10100)

In [ ]:
list_fraud=[]
for i in for_test:
    list_fraud.append(fraud(i))

In [ ]:
list_fraud=[x for x in list_fraud if x is not None]
list_fraud

[(10159, '214988798'),
 (10287, '111095134'),
 (10484, '37873303'),
 (16107, '59000026'),
 (29583, '215275495'),
 (42818, '170385453'),
 (80108, '65638094'),
 (94636, '131105098'),
 (192924, '214991436'),
 (195531, '214992524'),
 (599533, '215438075'),
 (798888, '719330'),
 (801940, '75298'),
 (823357, '188942105'),
 (937861, '152352709'),
 (1224830, '957701'),
 (1532569, '181408876'),
 (1770728, '208641638'),
 (2153811, '214598125'),
 (2831130, '15053804'),
 (2856708, '78451300'),
 (2859407, '178867999'),
 (3124091, '214568881'),
 (3536814, '60201993'),
 (4156256, '999758'),
 (4303950, '86381627'),
 (4498522, '32216600'),
 (6072241, '21786146'),
 (8121841, '6151166'),
 (8360517, '167795854'),
 (8996761, '162508227'),
 (9374147, '148176353'),
 (11425471, '176456399'),
 (11896733, '156614746'),
 (12078788, '214588488'),
 (13842071, '157017675'),
 (16613121, '192684666'),
 (16680589, '102125116'),
 (16864285, '17812748'),
 (17011899, '115994773'),
 (17219984, '154495684'),
 (18185692, '110201375'),
 (18229789, '192400689'),
 (18584244, '157905583'),
 (19849039, '153541668'),
 (21596473, '185671804'),
 (24889654, '1167379'),
 (26974701, '214775416'),
 (27476241, '174145893'),
 (30876744, '47720820'),
 (36453588, '71351517'),
 (37983742, '207802408'),
 (39554718, '65018320'),
 (43412276, '89078736'),
 (45348627, '143888220'),
 (45647685, '153375101'),
 (46764603, '59518877'),
 (47415942, '100319913'),
 (48685076, '137496169'),
 (48961570, '2803721'),
 (49795700, '125809895'),
 (50090018, '26484197'),
 (50713918, '159224887'),
 (51134277, '212200633'),
 (51831798, '209814218'),
 (51960315, '131375087'),
 (52377417, '1167379'),
 (54593828, '214778616'),
 (54615708, '727382'),
 (57189823, '171053543'),
 (58853808, '214623481'),
 (59617008, '80682958'),
 (60785640, '181240777'),
 (60861743, '7642742'),
 (61556313, '1348815'),
 (64111837, '55375223'),
 (64394533, '194833170'),
 (64492135, '101334371'),
 (64909117, '157936293'),
 (65883234, '7673928'),
 (65885656, '208123961'),
 (66391375, '194647522'),
 (69575583, '29455949'),
 (69889199, '198218266'),
 (71007731, '214778616'),
 (73103155, '214628840'),
 (75777351, '25082821'),
 (76668593, '166712192'),
 (78508758, '7612809'),
 (78509316, '96470129'),
 (79069823, '196188041'),
 (81087530, '348809'),
 (81190174, '77374158'),
 (82060005, '5528292'),
 (82738335, '51000951'),
 (83213597, '5870048'),
 (83366265, '118860287'),
 (83401047, '38087159'),
 (83767795, '192411900'),
 (84301799, '67531194'),
 (84549626, '191211430'),
 (87037251, '171986143'),
 (87219179, '101579891'),
 (89768730, '44673620'),
 (91123657, '7300419'),
 (91242967, '17805746'),
 (91487219, '806541'),
 (91639906, '9393781'),
 (91799978, '90238775'),
 (92566917, '214398364'),
 (94323897, '120484195'),
 (95458810, '28494088'),
 (96558159, '124597967'),
 (96757713, '195431947'),
 (96953349, '102314215'),
 (97084677, '70063871'),
 (97167909, '195203337'),
 (98481320, '124597967'),
 (98758834, '185236803'),
 (99836251, '197470611'),
 (104278513, '80682958'),
 (105064701, '214431654'),
 (105378074, '207428158'),
 (106051591, '1276208'),
 (107148254, '85355642'),
 (107189025, '159315857'),
 (111184668, '191170405'),
 (111696422, '41332694'),
 (112844132, '134870918'),
 (114919380, '23624412'),
 (117079735, '37915675'),
 (120358496, '210701971'),
 (120705516, '169741680'),
 (121725825, '86483102'),
 (121729278, '188333436'),
 (126261266, '76441165'),
 (126605686, '26524096'),
 (127249066, '144681637'),
 (127836898, '214225901'),
 (128299931, '178591891'),
 (129916443, '103042865'),
 (129968821, '208142218'),
 (130098587, '146390998'),
 (130098983, '176386520'),
 (130128043, '153380363'),
 (130168935, '31892574'),
 (131156634, '132268380'),
 (131974582, '117058315'),
 (133252710, '95453133'),
 (134946458, '1023993'),
 (135028831, '214703562'),
 (136564914, '178491887'),
 (137739819, '6978796'),
 (138785676, '73057006'),
 (139743785, '179065138'),
 (139975294, '34065878'),
 (140626153, '86570212'),
 (143281052, '2069015'),
 (144294380, '205245799'),
 (145000395, '174143159'),
 (145146309, '175276126'),
 (147941492, '22184'),
 (149828485, '42700374'),
 (152911194, '117457550'),
 (155143347, '214265994'),
 (155145623, '542970'),
 (156050887, '70075'),
 (156498720, '157741315'),
 (156766195, '36839904'),
 (156883302, '76102350'),
 (159795871, '268342'),
 (161269907, '92092708'),
 (161277691, '212200872'),
 (161713467, '210102613'),
 (161929554, '172911111'),
 (162551899, '2909539'),
 (165043133, '142464308'),
 (169902791, '50198835'),
 (171496968, '42792937'),
 (173508019, '132704747'),
 (175531295, '187697407'),
 (175697852, '214133796'),
 (176338861, '132397558'),
 (177817260, '98709440'),
 (178538359, '44948519'),
 (181744029, '199382229'),
 (182630780, '8330029'),
 (186369695, '174783274'),
 (188265068, '144683942'),
 (188546697, '18667156'),
 (190860392, '88938980'),
 (192785588, '21181740'),
 (201503467, '92521144'),
 (204225676, '198662175')]

In [ ]:
sub=pd.DataFrame(list_fraud, columns=['shopid','userid'])
names = sub.shopid.tolist()

In [ ]:
alll=list(data.shopid.unique())

In [ ]:
alll

In [ ]:
others = [x for x in alll if x not in names]

In [ ]:
listofzeros = [0] * len(others)

In [ ]:
second = pd.DataFrame(
    {'shopid': others,
     'userid': listofzeros})
second

          shopid  userid
0       93950878       0
1      156423439       0
2      173699291       0
3       63674025       0
4      173811070       0
...          ...     ...
18571  163337224       0
18572     772599       0
18573   50236030       0
18574  203587596       0
18575  147118226       0

[18576 rows x 2 columns]

In [ ]:
all_dfs = [sub,second]
forsub = pd.concat(all_dfs).reset_index(drop=True)

In [ ]:
forsub.to_csv('submission.csv', index=False)

In [ ]:
forsub

          shopid     userid
0          10159  214988798
1          10287  111095134
2          10484   37873303
3          16107   59000026
4          29583  215275495
...          ...        ...
18765  163337224          0
18766     772599          0
18767   50236030          0
18768  203587596          0
18769  147118226          0

[18770 rows x 2 columns]

In [ ]:
!kaggle competitions submit -c order-brushing-shopee-code-league -f submission.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 214k/214k [00:04<00:00, 51.2kB/s]
Successfully submitted to [Open] Shopee Code League - Order Brushing